html
 head
  title Account List
 body
  h3 Account Info
  form(method="post" , action="/account/add") Add
   table
    tr
     th UserName
     td
      input(type="text" name="username")
    tr
     th FullName
     td
      input(type="text" name="fullname")
    tr
     th Password
     td
      input(type="password" name="password")
    tr
     th &nbspl;
     td
      input(type="submit" value="Save")