html
 head
  title Account List
 body
  h3 Account Info
  br
  a(href="/account/add") Add
  br
  table(border="1")
   tr
    th Id
    th UserName
    th FullName
    th Password
    th Action
   each account in accounts
    tr
     td #{account.id}
     td #{account.username}
     td #{account.fullname}
     td #{account.password}
     td
      a(href="/account/edit/" +account.id) Edit 
      a(href="/account/delete/" +account.id,onclick="return confirm('Are you Sure?')") Delete